{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/design-system.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard_alumno.css' %}?v=20260603">
<script>document.body.classList.add('vista-alumno');</script>
<div class="estudiante-dashboard perfil-alumno vista-alumno">
<div class="dashboard-alumno-layout">
{% include 'estudiante/_sidebar.html' %}
<div class="alumno-main">
<div class="alumno-main__body alumno-page-content">
